<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.appclinica">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_icono_principal"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_icono_principal_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppClinica">
        <activity android:name=".ui.exercise.VideoEjercicioActivity"></activity>
        <activity android:name=".ui.autohipnosis.activity.ActivityPasosHipnoHacking" />
        <activity android:name=".ui.autohipnosis.activity.ActivityAudio" />
        <activity android:name=".ui.autohipnosis.activity.ActivityPlantilla" />
        <activity android:name=".ui.configuracion.ConfiguracionActivity" />
        <activity android:name=".ui.exercise.VideoActivity" />
        <activity android:name=".TestNotificationActivity" />
        <activity android:name=".ui.exercise.ExerciseActivity" />
        <activity android:name=".ui.comunidad.ComentActivity" />
        <activity android:name=".ui.comunidad.ComunidadActivity" />
        <activity android:name=".ui.autohipnosis.AutohipnosisActivity" />
        <activity android:name=".ui.exercise.AudioActivity" />
        <activity android:name=".ui.exercise.StepsActivity" />
        <activity android:name=".ui.psicologo.DisplayPsicoActivity" />
        <activity android:name=".ui.chat.ChatRoomActivity" />
        <activity android:name=".ui.chat.ChatActivity" />
        <activity
            android:name=".ui.onboarding.IntroActivity"
            android:configChanges="uiMode"
            android:theme="@style/SplahTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.login.LoginActivity" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <service
            android:name=".notification.FirebaseService"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
    </application>

</manifest>